
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font: 'Noto Sans Wancho', sans-serif;

}

body{
    display: flex;
    background: #22212C;
    color: #837E9F;
    height: 100vh;
    width: 100vw;
    
}

.container{
    display: flex;
    gap: 2rem;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}  

.A{
    margin: 10px;
    width: 20vw;
    background: rgb(65, 61, 61);
    border-radius: 20px;
 
}
.picture{  
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.perfile{
    display: flex;
    height: 800px;  
    padding: 8px;
    flex-direction: column;
   
}
.tecnologe{
    display: flex;
    height: 300px; 

}
.right{
    display: flex;
    flex-direction: column;
    
}

.B{
    display: flex;
    background: rgb(65, 61, 61);
    border-radius: 20px;
    width: 70vw;
    margin-top: 10px;
    justify-content: flex-end;
}

.project{
    height: 60px;
}

.flexbox{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 120px;
    gap: 0.5rem;
    
}
.post{
    height: 60px;
}
.erro{
    display: flex;
    height: 120px;
    padding: .5rem;
}