<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu portifolio</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <div class="left">
        <div class="picture">
        <!--
        <svg width="200" heigth="200">
            <circle cx="100" cy="100" r="90" stroke-width/>
        </svg>-->
            <div id="img"></div>
                <h2> Laura Cardoso</h2>
                <h5>Desenvolvedora Junior</h5>
            </div>
   
        <div class="perfile"></div>
        <div class="tecnologe"></div>
    </div>
    
        <div class="right">
            <div class="project"></div>

            <div class="flexbox">
                <div class="onix"></div>
                <div class="onix"></div> 
           </div>
        </div>
        
   
</body>
</html>